# Ignore everything in service/
service/*

# Do not ignore the absolute-cinema-torrentstream source code
!absolute-cinema-torrentstream/
!absolute-cinema-torrentstream/**

# Ignore all files in ffmpeg_bin/
tools/window-merger/*

# But do not ignore the folder itself (so it exists in the repo)
!tools/window-merger/

# (Optional) Ignore all .exe files except torrentstream.exe
service/*.exe
!service/torrentstream.exe
