/client/node_modules
.DS_Store
/dist
/build
.env
*.log
*.key
*.cert
/client/service/downloads
/client/service/absolute-cinema-torrentstream
/client/dist
/torrent-stream-service
/mpv

# Ignore all files in ffmpeg_bin/
tools/window-merger/*

# But do not ignore the folder itself (so it exists in the repo)
!tools/window-merger/
