/client/node_modules
.DS_Store
/dist
/build
.env
*.log
*.key
*.cert
/client/service/downloads
/client/service/absolute-cinema-torrentstream
/client/dist
/torrent-stream-service
/tools
/mpv-git-2025-05-09-b3070d1-x86_64